<html lang="ru">
body
  div(class="vverh")
    p Доска

      div(class="container")
        div(class="row align-items-start")
          div(class="col")
            figure(class="figure")
              button(class="process")
                figcaption(class="figure-caption")
                  p Новые

      button(class="plus")
        input(type="checkbox" id="bokovon-lodsaba")
          div(class="bokovaya-kapanel")
        label(class="nogamlenu-knopki-2" for="bokovon-lodsaba")
        p +  
        div(class="vobocuka-kagolovok")
          p Добавить задачу
            div(class="vobocuka-kagolovok1")
          p Название задачи:
        div(class="vobocuka-kagolovok1")
          p Дата:
        input(name="guruweba_example_date" type="date")

        div(class="vobocuka-kagolovok1")
          p Автор: 
        img(
        class="ava"
        src="ava.png"
        class="img(-fluid"
        alt="Responsive image")

        div(class="panel1")
        p Пункты:
      input(type="checkbox" name="a" value="Сделать обложку") 
      p Сделать обложку
      input(type="checkbox" name="a" value="Разработать код") 
      p Разработать код
      p Добавить 
      input(name="guruweba_example_text" type="text" ) 
      input(name="guruweba_example_submit" type="submit" value="Отправить" )
      input(name="guruweba_example_submit" type="submit" value="Сохранить" ) 


      div(class="nogamlenu-knopki-1-wr")
      label(class="nogamlenu-knopki-1" for="bokovon-lodsaba")
      div(class="side-b side-open")
      p +
      div(class="side-b side-close")
      p +
      br
      button(class="zadacha")
      input(type="checkbox" id="side-checkbox")
      div(class="side-panel")
      label(class="side-button-2" for="side-checkbox")
      p +
      div(class="side")
      p Открытая задача
      div(class="panel")
      p Название задачи:
      div(class="panel1")
      p Описание задачи:
      div(class="panel1")
      p Дата: 
      input(name="guruweba_example_date" type="date" )

      div(class="panel1")
      p Выполняет: 
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image")

      div(class="panel1")
      p Пункты:
      input(type="checkbox" name="a" value="Сделать обложку") 
      p Сделать обложку
      input(type="checkbox" name="a" value="Разработать код") 
      p Разработать код
      p Добавить 
      input(name="guruweba_example_text" type="text" ) 
      input(name="guruweba_example_submit" type="submit" value="Отправить" ) 
      div(class="panel1")
      p Комментарии: 
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p Как сделать??? 
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p Поменять...
      input(name="guruweba_example_text" type="text" ) 
      input(name="guruweba_example_submit" type="submit" value="Отправить" )



      div(class="side-button-1-wr")
      label(class="side-button-1" for="side-checkbox")
      div(class="side-b side-open")
      p Открыть задачу
      div(class="side-b side-close")
      p Закрыть задачу

      p(class="a")
      p p Название задачи:
      p(class="a")
      p p Краткое описание:
      br 
      br
      p(class="a")
      p p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 5
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )

      div(class="col")
      figure(class="figure")
      br
      button(class="zadacha")
      p(class="a")
      p p Название задачи:
      p(class="a")
      p p Краткое описание:
      p(class="a")
      p p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 05
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )

      div(class="row align-items-start")
      div(class="col")
      figure(class="figure")
      button(class="process")
      figcaption(class="figure-caption")
      p Выполняются
      button(class="plus") 
      p +
      br 
      button(class="zadacha")
      p(class="a")
      p p Название задачи:
      p(class="a")
      p p Краткое описание:
      p(class="a")
      p p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 05
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )

      div(class="col")
      figure(class="figure")
      br
      button(class="zadacha")
      p(class="a")
      p(class="a")
      p Краткое описание:
      br 
      br 
      p(class="a")
      p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 05
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )

      div(class="row align-items-start")
      div(class="col")
      figure(class="figure")
      button(class="process")
      figcaption(class="figure-caption")
      p Проверяются
      button(class="plus")
      p +
      br 
      button(class="zadacha")
      p(class="a")
      p(class="a")
      p Краткое описание:
      br 
      br 
      p(class="a")
      p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 05
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )

      div(class="col")
      figure(class="figure")
      button(class="process")
      figcaption(class="figure-caption")
      p Проверяются
      button(class="plus")
      p +
      br 
      button(class="zadacha")
      p(class="a")
      p(class="a")
      p Краткое описание:
      br 
      br 
      p(class="a")
      p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 05
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )


      div(class="row align-items-start")
      div(class="col")
      figure(class="figure")
      button(class="process")
      figcaption(class="figure-caption")
      p Проверяются
      button(class="plus")
      p +
      br 
      button(class="zadacha")
      p(class="a")
      p(class="a")
      p Краткое описание:
      br 
      br 
      p(class="a")
      p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 05
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )


      div(class="col")
      figure(class="figure")
      button(class="process")
      figcaption(class="figure-caption")
      p Проверяются
      button(class="plus")
      p +
      br 
      button(class="zadacha")
      p(class="a")
      p(class="a")
      p Краткое описание:
      br 
      br 
      p(class="a")
      p Дата:
      p(class="a")
      img(
      class="zad"
      src="zadacha.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 05
      img(
      class="comment"
      src="comment.png"
      class="img(-fluid"
      alt="Responsive image"
      )
      p 3
      img(
      class="ava"
      src="ava.png"
      class="img(-fluid"
      alt="Responsive image"
      )